@import '_settings.scss';

$margin: 2px;
$bg-color: red !default;

* {
    box-sizing: border-box;
}

body {
    font-family: fantasy, 'my-font';
}

div {
    background: #ffffff;
    width: 1in;

    &:hover,
    &:active {
        color: rgba(200, 100, 0, 0.5);
    }

    span + span {
        margin-left: $margin;
        margin-right: $margin;
    }

    #id ~ & {
        background:
            url('/bg.png')
            $bg-color
            no-repeat left bottom fixed;
    }
}
